* {  -webkit-backface-visibility:  hidden;
     -webkit-tap-highlight-color:  transparent;
  }
img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.loader{
	 min-width: 36px;
	 min-height: 36px;
	 background: transparent url('../images/loader.gif') center no-repeat;
}
.lazy {
    display: none;
}
.logo {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 36px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.05);
  background-image: -webkit-linear-gradient(0deg, #ffe9d8 5.476190476190476%, rgb(255, 255, 255) 83.80952380952381%);
  background-image:    -moz-linear-gradient(0deg, #ffe9d8 5.476190476190476%, rgb(255, 255, 255) 83.80952380952381%);
  background-image:      -o-linear-gradient(0deg, #ffe9d8 5.476190476190476%, rgb(255, 255, 255) 83.80952380952381%);
  background-image:     -ms-linear-gradient(0deg, #ffe9d8 5.476190476190476%, rgb(255, 255, 255) 83.80952380952381%);
  background-image:         linear-gradient(450deg, #ffe9d8 5.476190476190476%, rgb(255, 255, 255) 83.80952380952381%);
}

/*轉場*/
.is-start{opacity: 0;}
.is-hide{opacity: 0;-webkit-transition:opacity 0.3s;-webkit-transition-delay:opacity 0.3s;-moz-transition:opacity 0.3s;-o-transition:opacity 0.3s;transition:opacity 0.3s;}
.is-show{opacity: 1;-webkit-transition:opacity 0.3s;-webkit-transition-delay:opacity 0.3s;-moz-transition:opacity 0.3s;-o-transition:opacity 0.3s;transition:opacity 0.3s;}
.is-down{bottom: -300px;-webkit-transition:0.3s;-webkit-transition-delay:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;}
.is-up{bottom: 0px;-webkit-transition:0.3s;-webkit-transition-delay:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;}
button{-webkit-transition:0.2s;-webkit-transition-delay:0.2s;-moz-transition:0.2s;-o-transition:0.2s;transition:0.2s;}
.center{ text-align: center; }
.qright p{ width: 100%; }
.analysis{ width: 100%; font-size: 1.09em; font-weight: 700; }
.container {
  float: left;
  clear: both;
  width: 100%;
}
.container,._flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
._enable{
	background-color: #ee781e;
}
._disable {
	background-color: #a1a1a1;
}
._left {
  float: left;
}
._right {
  float: right;
}
.red{
	color: rgb(255, 0, 0);
}
._button {
  display: block;
  /*box-shadow: 1px 1px 4px 1px rgba(59, 59, 59, 0.51);*/
  text-align: center;
}

._boxshadow {
  box-shadow: 1px 1px 4px 1px rgba(59, 59, 59, 0.51);
}

.logo .image {
  float: left;
  /*width: 200px;*/
}

.close {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 45;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 44;
  width: 50px;
  margin: auto;
}
.tableexit{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 51;
  width: 420px;
  height: 220px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, .5);	
}
.tableexit .text {
  float: left;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.2em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}
.tableexit ._button-2 {
  float: left;
  margin-left: 8%;
}

.tableexit ._button-3 {
  float: right;
  margin-right: 8%;
}
.tableexit ._button {
  display: block;
  border-radius: 100px;
  background-color: #ee781e;
  font-size: 1.1em;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}
.tableexit .tablebtn {
  float: left;
  clear: both;
  width: 100%;
}
.tablebtn  ._button{
	width: 40%;
}
.tablemenu{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 106;
  width: 420px;
  height: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, .5);
}

.windows {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 107;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.tablemenu ._btn {
  position: relative;
  float: left;
  width: 80px;
  height: 40px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  line-height: 1.5;
  font-size: 20px;
}
.tablemenu ._btn:hover {
	background-color: rgb(255, 206, 152);
}
.logo ._button {
  position: absolute;
  bottom: 12px;
  right: 40px;
  z-index: 39;
  width: 180px;
  height: 48px;
  border-radius: 100px;
  background-color: #ee781e;
  font-size: 1.09em;
  line-height: 1;
  color: #ffffff;
}

.cover {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 70px;
}
.btn3 ._button {
  width: 48%;
  max-width: 180px;
  border-radius: 100px;
  font-size: 1.09em;
  line-height: 2;
  color: #ffffff;
}
.cover ._button {
  float: left;
  width: 100%;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 0.7em;
}
.cover ._button  span{
	font-size: 1.18em;
}

.cover ._button-1 {
  background-color: #cbe695;
}

.cover ._button-2 {
  background-color: #feb6ba;
}

.cover ._button-3 {
  background-color: #fef6eb;
}

.cover ._button-4 {
  background-color: #c6e0ef;
}
.btnend ._button-6 {
  background-color: #ee781e;
}
.btnend ._button-7 {
   margin-left: 2%;
}
.btnend ._button-8 {
   margin-left: 2%;
}
._button span {
	float: left;
	font-weight: 700;
}
.q_num .num1 {
  float: left;
  font-size: 1.18em;
  line-height: 1;
  color: #000000;
}
.inx_extxt {
  position: relative;
  float: left;
  z-index: 4;
  width: 100%;
  padding-left: 35px;
  font-size: 0.9em;
  line-height: 1.4;
  color: #999999;
}
.ans {
  float: left;
  clear: both;
  width: 100%;
  padding: 30px 40px;
  background-color: #f4e8d7;
}
.btnendtxt {
  position: relative;
  float: left;
  width: 100%;
}
.btnend {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnendall {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}
.btnend ._button {
  /*position: absolute;*/
  /*top: 20px;*/
  float: left;
  width: 180px;
  border-radius: 100px;
  font-size: 1.09em;
  line-height: 2;
  color: #ffffff;
}
#counter{
	float: left;
	width: 100%;
	font-size: 1.2em;
}
#counter>span{
	float: right;
	padding-top: 1rem;
}
#counter>span:nth-child(1){
	color: #B81010;
}


@media only screen and (max-width: 479px) {
	.qright .text img{ max-width: 460px; }
	.container .text img{ max-width: 411px; }
	.qright .container { padding-left: 0; }
	  .logo {
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 6px;
	  }
  .btn3 ._button {
    width: 48%;
    font-size: 1.11em;
  }
	  .logo .image {
		width: 150px;
		height: auto;
	  }
	  .logo ._button {
		bottom: 10px;
		right: 15px;
		width: 160px;
	  }	  
	  .close .image {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 40px;
		height: auto;
		margin: auto;
	  }
	  .tablemenu .close {
		top: -40px;
		width: 40px;
		height: 40px;
	  }

  .windows .tablemenu{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
  }

  .tablemenu ._btn {
    position: relative;
    width: 20%;
    font-size: 18px;
  }
  /*
  .cover ._button {
    height: 50px;
  }
  */
  .logo ._button {
    bottom: 5px;
    right: 10px;
    width: 120px;
    height: 40px;
    font-size: 1.11em;
  }
   .subwrapper .btnnext {
    float: left;
    width: 66%;
    margin-left: 16.99687%;
	padding-left: 0px;
  }
  .q_num .num1 {
    font-size: 1.25em;
  }
	.inx_extxt {
	  position: relative;
	  z-index: 2;
	  padding-left: 25px;
	  font-size: 1em;
	}
	.btnend{
		display: block;
		text-align: center;
	}
  .btnend ._button {
    font-size: 1.111em;
  }
  .btnend ._button-6 {
    width: 45%;	
	margin: 0 28%;
  }
  
  .btnend ._button-7 {
    position: relative;
    clear: both;
    z-index: 36;
    width: 45%;
    margin-top: 15px;
    margin-left: 0;
  }

  .btnend ._button-8 {
    position: relative;
    z-index: 37;
    width: 45%;
    margin-top: 15px;
    margin-left: 6%;
  }
   .ans {
    padding: 15px 10px 20px;
  }
   .selection .cover {
    min-height: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }
	.tableexit .text {
	  font-size: 1.05em;
	}
  .tableexit {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 160px;
    margin: auto;
  }
  .tableexit .text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
	#counter>span:nth-child(1){
		padding-right:1rem;
	}
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
	.qright .text img{ max-width: 863px; }
	.container .text img{ max-width: 835px; }
	/*.qright .container { padding-left: 0; }*/
  .logo {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .logo .image {
    width: 180px;
    height: auto;
  }
   .logo ._button {
    bottom: 10px;
    right: 90px;
    width: 160px;
  }	
   .close .image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: auto;
  }
   .windows .tablemenu{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .tablemenu ._btn {
    position: relative;
  }
  .selection .cover {
    min-height: 65px;
    padding-right: 70px;
  }
  
  .subwrapper .btnnext {
    float: left;
    width: 100%;
    padding-left: 0;
  }
 	.inx_extxt {
	  position: relative;
	  z-index: 2;
	  padding-left: 30px;
	  font-size: 0.81em;
	}
  .btnend ._button {
	width: 25%;
    min-width: 120px;
  }
  .btnend ._button-7 {
    margin-left: 3%;
  }

  .btnend ._button-8 {
    margin-left: 3%;
  }
  .ans {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
	.tableexit .text {
	  font-size: 1.1em;
	}
  .tableexit{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
	#counter>span:nth-child(1){
		padding-right:3rem;
	}
}
@media only screen and (min-width: 1024px) {
	.qright .text img{ max-width: 480px; }
	/*.container .text img{ max-width: 582px; }*/
	/*.qright .container { padding-left: 60px; }*/

	.logo .image {
		width: 200px;
		height: auto;
	}
	.windows .tablemenu{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.tablemenu ._btn {
		position: relative;
	}
	/*
	.cover ._button {
		height: 65px;
	}
	*/
	#counter>span:nth-child(1){
		padding-right:3rem;
	}
} 
