body {
  font: 400 1.375em/1.5 Arial, '微軟正黑體';
  color: rgb(0, 0, 0);
}
.btnnext {
  position: relative;
  float: right;
  clear: both;
  width: 100%;
  padding-top: 20px;
  padding-left: 70px;
}
.btn3 {
  width: 100%;
  height: 60px;
  margin: 0 auto;
}

.ans .btnendall,
.subwrapper .btnnext {
	padding-top: 10px;
}

.ans_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}

.ans_icon .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  margin: auto;
}

.bluepoint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 100px;
  background-color: #ff7e1f;
}
/*
.container {
  float: left;
  clear: both;
  width: 100%;
}
*/
.container .textinner {
	padding: 0.6em;
	line-height: 1.6em;
	border: 1px solid rgb(0, 0, 0);
	background-color: #fef6eb;
	border-radius: 10px;
}

.container .imageinner{
	line-height: 0;
    border: 1px solid rgb(214, 214, 214);
}

.container .text {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  /*
  border: 1px solid rgb(0, 0, 0);
  line-height: 0;
  font-size: 0.615em;
  */
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

/*
.logo {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 36px;
  background-color: #ee781f;
}

.logo .image {
  float: left;
  width: 200px;
}
*/
.num1 {
  float: left;
}

.point {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 6;
  width: 35px;
  height: 28px;
}

.q_num {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-left: 5px;
}

.qleft {
  position: relative;
  float: left;
  width: 60%;
  padding-right: 20px;
}

.qright {
  position: relative;
  float: left;
  width: 40%;
}
/*
.qright .container {
  padding-bottom: 20px;
}
*/
.qright .num1 {
  font-size: 1.27em;
  line-height: 1.5;
  color: #ee781e;
}

.questionall,
.top {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding-top: 15px;
}

.selection {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 20px;
}

.subwrapper {
  float: left;
  clear: both;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  background-color: #fff;
}

.text-1 p {
  margin-bottom: 1em;
}

.text p {
  margin-bottom: 0.2em;
}

.ans_icon-1 {
  z-index: 19;
}

.ans_icon-2 {
  z-index: 24;
}

.cover-1 {
  z-index: 17;
}

.cover-2 {
  z-index: 22;
}

.image-2 {
  z-index: 18;
}

.image-3 {
  z-index: 23;
}

.text-1 {
  font-size: 1.09em;
  color: #111111;
}

.text-3 {
  clear: both;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 1em;
  line-height: 1.5;
  color: #111111;
}

.text-5 {
  clear: both;
  line-height: 1.38;
  color: #333333;
}

.text-6 {
  clear: both;
  line-height: 1.38;
  color: #333333;
}

.text a {
  border-bottom: 2px solid #027dc1;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #027dc1;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.text em {
  border-bottom: 2px solid #0033ff;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-radius: 8px;
  background-color: #0088ff;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #ffff00;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  /*
  border-bottom: 2px solid #027dc1;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #027dc1;
  opacity: 1;
  */
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.text strong {
  border: 2px solid #027dc1;
  border-radius: 8px;
  background-color: #027dc1;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #ffffff;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}

@media(max-width: 1023px) {
  body {
    font-size: 1.5em;
  }
   .btnnext .btn3 {
    width: 380px;
    height: 50px;
  }
  .ans_icon .image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: auto;
  }

  .btnendtxt .text,
  .qleft .text-1 {
    font-size: 24px;
  }

  .container .text {
    margin-bottom: 1em;
    font-size: 0.667em;
  }
/*
  .logo {
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .logo .image {
    width: 180px;
    height: auto;
  }
*/
  .point .bluepoint {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .qright .container {
    padding-right: 60px;
    padding-left: 60px;
  }

  .qright .num1 {
    width: 100%;
    font-size: 1.167em;
  }

  .qright .selection {
    padding-bottom: 15px;
  }

  .questionall .qleft {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .questionall .qright {
    clear: both;
    width: 100%;
  }

  .selection .ans_icon {
    height: 65px;
  }

  .subwrapper {
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .subwrapper .q_num {
    padding-top: 12px;
  }

  .subwrapper .top {
    padding-top: 10px;
  }
  
  .top .point {
    top: 10px;
    width: 30px;
    height: 25px;
  }

  .qright .text-3 {
    padding-right: 0;
    font-size: 1.083em;
  }

  .selection .cover-1 {
    position: relative;
    z-index: 17;
  }

  .selection .cover-2 {
    position: relative;
    z-index: 22;
  }
}

@media(max-width: 479px) {
  body {
    font-size: 1.125em;
  }
  .btnnext .btn3 {
    float: left;
    width: 100%;
    height: 40px;
    margin-right: 0;
    margin-left: 0;
  }

  .ans_icon .image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40px;
    height: auto;
    margin: auto;
  }

  .btnendtxt .text,
  .qleft .text-1 {
    font-size: 18px;
  }

  .container .text {
    margin-bottom: 1em;
    font-size: 0.889em;
  }
/*
  .logo {
    padding-left: 6px;
  }

  .logo .image {
    width: 150px;
    height: auto;
  }
*/
  .point .bluepoint {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 8px;
    height: 8px;
    margin: auto;
  }

  .qleft .container,
  .qright .container {
    padding-right: 0;
    padding-left: 0;
  }

  .qright .num1 {
    font-size: 1.222em;
  }

  .qright .selection {
    padding-bottom: 10px;
  }

  .questionall .qleft {
    padding-bottom: 15px;
  }

  .selection .ans_icon {
    width: 50px;
    height: 50px;
  }

  .subwrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .subwrapper .q_num {
    padding-top: 8px;
    padding-left: 3px;
  }

  .subwrapper .top {
    padding-top: 5px;
  }

  .top .point {
    top: 5px;
    width: 25px;
    height: 22px;
  }

  .qright .text-3 {
    padding-top: 5px;
    font-size: 1.111em;
  }

  .selection .cover-1 {
    position: relative;
    z-index: 17;
  }

  .selection .cover-2 {
    position: relative;
    z-index: 22;
  }

  .text a,
  .text span {
    border-bottom-width: 1px;
  }
}