body {
  background-color: #ffffff;
  font: 400 1.125em/3 Arial, '微軟正黑體';
  color: #ffffff;
}
.btnnext {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding-top: 20px;
}

.image {
  display: block;
  float: left;
  width: 200px;
  height: auto;
  overflow: hidden;
}

.leftsel {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.leftsel .titletxt {
  min-height: 32px;
  font-size: 1em;
}

.list1 {
  position: relative;
  float: left;
}
/*
.logo {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 36px;
  background-color: #ee781f;
}
*/
.num1 {
  float: left;
  font-size: 1.444em;
  font-weight: 700;
  line-height: 1;
  color: #003978;
}

.point-text {
  display: block;
  min-height: 32px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: #010101;
}

.q_num {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-left: 5px;
}

.question_sound {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.subwrapper {
  float: left;
  clear: both;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.table1 {
  position: relative;
  float: left;
  width: 100%;
}

.titletxt {
  float: left;
  width: 100%;
  text-align: center;
}


.analysisbtn {
  width: 200px;
  margin: 0 auto;
  border-radius: 100px;
  background-color: #ee781e;
  font-size: 1.333em;
  line-height: 2;
  color: #ffffff;
}
.leftsel-1 {
  min-height: 66px;
  background-color: #ffe5d2;
}

.leftsel-2,
.leftsel-4 {
  background-color: rgb(255, 241, 224);
}

.leftsel-3,
.leftsel-5 {
  background-color: rgb(249, 233, 212);
}

.list1-1 {
  width: 40%;
  border-right: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 10px;
}

.list1-2 {
  width: 15%;
  border-right: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 10px;
}

.list1-3,
.list1-4 {
  width: 15%;
  border-right: 1px solid rgb(255, 255, 255);
}

.list1-5 {
  width: 15%;
}

.point-text-2 {
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.05);
}

.point-text-1,
.point-text-3 {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.point-text-4 {
  border-bottom-left-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.titletxt-1 {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 10px;
  background-color: #f99c55;
  font-size: 1.111em;
  line-height: 2.5;
  color: #ffffff;
}

.titletxt-4,
.titletxt-2,
.titletxt-3 {
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: #f99c55;
  font-size: 1.111em;
  line-height: 2.5;
  color: #ffffff;
}

.titletxt-5 {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top-right-radius: 10px;
  background-color: #f99c55;
  font-size: 1.111em;
  line-height: 2.5;
  color: #ffffff;
}


.titlenum-1 {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #111111;
}

.titlenum-2 {
  clear: both;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.05);
  color: #111111;
}

.titlenum-3 {
  clear: both;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #111111;
}

.titlenum-4 {
  clear: both;
  background-color: rgba(0, 0, 0, 0.05);
  color: #111111;
}

.titleright-1 {
	border-bottom: 1px solid rgb(255, 255, 255);
	color: #0033ff;
}

.titleright-2 {
	clear: both;
	border-bottom: 1px solid rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.05);
	color: #0033ff;
}
.titleright-3 {
	clear: both;
	border-bottom: 1px solid rgb(255, 255, 255);
	color: #0033ff;
}
.titleright-4 {
	clear: both;
	background-color: rgba(0, 0, 0, 0.05);
	color: #0033ff;
}
.titlewrong-1 {
	border-bottom: 1px solid rgb(255, 255, 255);
	color: #cc0000;
}

.titlewrong-2 {
	clear: both;
	border-bottom: 1px solid rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.05);
	color: #cc0000;
}

.titlewrong-3 {
	clear: both;
	border-bottom: 1px solid rgb(255, 255, 255);
	color: #cc0000;
}

.titlewrong-4 {
	clear: both;
	background-color: rgba(0, 0, 0, 0.05);
	color: #cc0000;
}
.titlepercent-1 {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.titlepercent-2 {
  clear: both;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.05);
  color: rgb(0, 0, 0);
}

.titlepercent-3 {
  clear: both;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.titlepercent-4 {
  clear: both;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgb(0, 0, 0);
}

@media(max-width: 1023px) {
  .leftsel .point-text,
  .leftsel .titletxt {
    line-height: 2.5;
  }
/*
  .logo {
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .logo .image {
    width: 180px;
    height: auto;
  }
*/
  .q_num .num1 {
    font-size: 1em;
  }

  .subwrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .subwrapper .q_num {
    padding-top: 25px;
  }

  .list1 .titletxt-1,
  .list1 .titletxt-4,
  .list1 .titletxt-5,
  .list1 .titletxt-2,
  .list1 .titletxt-3 {
    font-size: 1em;
  }

  .table1 .list1-1 {
    width: 35%;
  }

  .table1 .list1-2 {
    width: 20%;
  }
}

@media(max-width: 479px) {
  body {
    font-size: 0.875em;
  }

  .leftsel .point-text,
  .leftsel .titletxt {
    font-size: 14px;
  }
/*
  .logo {
    padding-left: 6px;
  }

  .logo .image {
    width: 150px;
    height: auto;
  }
*/
  .q_num .num1 {
    font-size: 1.286em;
  }

  .subwrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .subwrapper .btnnext {
    padding-top: 10px;
  }

  .subwrapper .q_num {
    padding-top: 15px;
    padding-left: 3px;
  }

  .subwrapper .question_sound {
    margin-top: 5px;
  }

  .btnnext ._button {
    width: 40%;
    min-width: 120px;
    max-width: 180px;
    font-size: 1.429em;
  }

  .list1 .titletxt-1,
  .list1 .titletxt-4,
  .list1 .titletxt-5,
  .list1 .titletxt-2,
  .list1 .titletxt-3 {
    font-size: 1.071em;
  }

  .table1 .list1-2 {
    width: 25%;
  }

  .table1 .list1-3,
  .table1 .list1-4 {
    width: 12%;
  }

  .table1 .list1-5 {
    width: 16%;
  }
}
