body {
  background-color: #ffffff;
  font: 400 1.5em/1.5 Arial, '微軟正黑體';
  color: rgb(0, 0, 0);
}
.all {
  position: relative;
  float: left;
  width: 100%;
  min-height: 360px;
  padding-top: 30px;
  padding-left: 5px;
  /*
  border-bottom: 1px solid rgb(255, 255, 255);
  */
}

.btnnext {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding-top: 20px;
}

.image {
  display: block;
  float: left;
  width: 200px;
  height: auto;
  overflow: hidden;
}
/*
.logo {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 36px;
  background-color: #ee781f;
}
*/
.point-text {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  min-height: 32px;
  padding-top: 30px;
  font-size: 1em;
  color: #010101;
}

.subwrapper {
  float: left;
  clear: both;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.title {
  float: left;
  font-size: 1.083em;
  font-weight: 700;
  /*line-height: 1;*/
  color: #003978;
}

._button {
  display: block;
  width: 200px;
  margin: 0 auto;
  border-radius: 100px;
  background-color: #ee781e;
  font-size: 1em;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}

@media(max-width: 1023px) {
  body {
    font-size: 1.375em;
  }

  .all .point-text {
    padding-top: 20px;
    font-size: 22px;
  }

  .all .title {
    font-size: 1.091em;
  }
/*
  .logo {
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .logo .image {
    width: 180px;
    height: auto;
  }
*/
  .subwrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .subwrapper .all {
    min-height: 300px;
    padding-top: 25px;
  }

  .btnnext ._button {
    width: 200px;
    font-size: 1.091em;
  }
}

@media(max-width: 479px) {
  body {
    font-size: 1em;
  }

  .all .point-text {
    padding-top: 15px;
    font-size: 16px;
  }

  .all .title {
    font-size: 1.125em;
  }
/*
  .logo {
    padding-left: 6px;
  }

  .logo .image {
    width: 150px;
    height: auto;
  }
*/
  .subwrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .subwrapper .all {
    min-height: 200px;
    padding-top: 15px;
    padding-left: 3px;
  }

  .subwrapper .btnnext {
    padding-top: 10px;
  }

  .btnnext ._button {
    width: 40%;
	min-width: 120px;
	max-width: 180px;
    font-size: 1.25em;
  }
}