﻿@media only screen and (max-width: 320px) {
	.exam { font-size: 1.3em; }
	#container{margin: 0 1em;}
}
@media screen and (min-width: 321px) and (max-width: 479px) {
	.exam { font-size: 1.3em; }
	#container{margin: 0 1em;}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.exam { font-size: 1.3em; }
	#container{margin: 0 3em;}
}
@media only screen and (min-width: 768px) {
	.exam { font-size: 1.2em; }
	#container{margin: 0 6em;}
} 
.is-start {opacity: 1;}
.is-hide {opacity: 0; /*visibility: hidden;*/ }
.is-show {opacity: 1; /*visibility: visible;*/ }
.exam{ -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s; }

ul, ol, li { list-style:none; }
img { -ms-interpolation-mode: bicubic; }
ul, ol, li, span, body,h1,h2,h3{padding:0; margin: 0;}
body{ font-family: Arial, "微軟正黑體", "sans-serif"; -webkit-tap-highlight-color: rgba(0,0,0,0); }
header { float:left; width:100%; text-align:center; font-size: 1.6em; }
footer { float:left; padding: 1em;}

header img{ vertical-align: top; }
header span{ display:flex; justify-content:center; align-items:center; height: 100px; }
.pointer { cursor: pointer; }
.radius{-webkit-border-radius:0.3em; -moz-border-radius:0.3em; border-radius:0.3em;}
.exam { float:left; width:100%; }
.trans{ -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s; transition:.3s; }
.intromain{  line-height: 2em; margin-top: 2em; padding: 0.5em; border:2px solid #e6e6e6; text-align: center; }
.introtitle{ width: 100%; line-height: 1.5em; font-size:2.4em; font-weight: bold; display: inline-block; border-bottom: 2px solid #C63300; color:#C63300; }
.introtitle:after{ content: '動動腦'; }
.introtxt{ display: inline-block; text-align: left; margin: 1em 0; }
.exammain{ line-height: 2em; padding: 1em; }
.examtop{ float: left; width: 100%; }
.number { float: left; font-size: 1.6em; font-weight: bold; color: #C63300; }
.type { float: left; font-size: 1.1em; color:#fff; margin-right: 1em; padding: 0 0.4em; display: inline-block; background-color: #C63300; -webkit-border-radius:0.3em; -moz-border-radius:0.3em; border-radius:0.3em; }
#question{ font-size: 1.2em; }
#info{ text-align: right; height: 2em; margin: 0 1em; }
.right{ color: #00b300; font-size: 4.5em; margin-bottom: 2em; }
.wrong{ color: #b40128; font-size: 5em; margin-bottom: 2em; }
.option{ background-color:#e6e6e6; padding: 0.5em; margin-top: 1em; }
.feedback{ padding: 0.5em; border:2px solid #e6e6e6; margin-top: 1em; display: none; }
.feedbacktitle{ width: 100%; font-size:1.5em; display: inline-block; border-bottom: 2px solid #C63300; color:#C63300; }
.feedbacktitle:after{ content: '詳解'; }
.feedbacktxt{ color:#000; }
.no-touch .ophover:hover{
  background-color: rgb(255, 156, 0);
  border-color: rgb(255, 215, 153);
  color: #fff;
}
.margin{ margin-left: 2.4em; }
.selected{ position: absolute; display: inline-block; vertical-align: middle; color: #00b300; font-size: 2em; }
.introbtn, .ansbtn, .resultbtn, .againbtn, .nextbtn, .rebtn{ float: right; color:#fff; padding: 0.4em 0.8em; margin-top: 1em; margin-right: 1em; display: inline-block; background-color: #1b66ec; -webkit-border-radius:0.3em; -moz-border-radius:0.3em; border-radius:0.3em; }
.no-touch .ansbtn:hover,.no-touch .resultbtn:hover,.no-touch .againbtn:hover,.no-touch .nextbtn:hover,.no-touch .rebtn:hover,.no-touch .introbtn:hover{ background-color: #003D79; }
.introbtn:after{ content: '開始測驗'; }
.ansbtn:after{ content: '送出答案'; }
.resultbtn:after{ content: '結束測驗'; }
.againbtn:after{ content: '再試一次'; }
.nextbtn:after{ content: '下一題'; }
.rebtn:after{ content: '重新測驗'; }
.disable { pointer-events: none; cursor: default; }
.rightoption { background-color: #C63300; color:#fff; }
.result { font-size: 1.2em; margin-top: 2em; text-align: center; }

.scoregroup { font-size: 2em; color:#000; }
.score{ font-size: 3em; }
.allpass_color{ color: #00b300; }
.pass_color{ color: #00b300; }
.nopass_color{ color: #b40128; }
.comment{ padding: 0.5em; border:2px solid #e6e6e6; margin: 1em 0; line-height: 2em; }
.allpass_txt, .pass_txt, .nopass_txt{ display: inline-block; text-align: left; margin: 1em 0; }
.passtitle:after{ width: 100%; font-size:1.5em; display: inline-block; content: '建議'; border-bottom: 2px solid #C63300; color:#C63300; }
.allpass_txt:after{ content: '太棒了，您答對了所有題目！'; }
.pass_txt:after{ content: '您的成績很不錯喔！請再接再厲繼續加油吧！'; }
.nopass_txt:after{ content: '很可惜，成績不太理想喔，建議您在返回前面的章節重新學習不熟悉的地方！'; }